header{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: aliceblue;
    padding: 40px;
    padding-bottom: 0px;
}
.tabela{ 
    color: white;
    border-style: none;
    background-color:rgb(148, 147, 147) ;
    padding-inline: 100px;
}
body{ 
    height: 100vh;
    background-image: url() ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;~
    
}
h2{
    font-size: 40px;
}
button{
    background-color: red;
}
.imagem{ 
    width: 300px;
    
    
}
#fotos{
    display: ;
}
#fotosseparadasdireita{
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    display: flex;
    justify-content: space-between;
    background-color: rgb(97, 97, 97);
    align-items: center;
    margin-bottom: 10px;
    
    
}
#fotosseparadasesquerda{
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    display: flex;
    justify-content: space-between;
    text-align: left;
    background-color: rgb(150, 150, 150);
    align-items: center;
    margin-bottom: 10px;
    
}
#fotosseparadasesquerda h3{
    font-size: 50px;
    padding-right: 300px;
}
#fotosseparadasdireita h3{
    font-size: 50px;
    padding-left: 300px;
}

.navegacao{
    display: flex;
    justify-content: space-around;
    
    
}
.navegacao li{
    display: inline-block;
    padding: 40px;
    padding-bottom:10px;
    padding-top: 10px;
    background-color: black;
    
    
}
.nav-link{
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 30px;
}
.preço{
    font-size: 50px;
    color:rgb(255, 145, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: ;
}