@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Oswald&display=swap');

*{
    font-family: "Oswald", sans-serif;
}

header{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header > div > h1 {
    font-family: "Caveat", cursive;
    font-size: 50px;

}

.tabela{ 
    color: white;
    border-style: none;
    background-color:rgb(148, 147, 147) ;
    padding-inline: 100px;
}
body{ 
    height: 100vh;
    background-image: url() ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;~
    
}
h2{
    font-size: 40px;
}
.imagem{ 
    width: 200px;
    margin: 20px;
    border-radius: 10%;


    
}

#fotosseparadas{
    display: flex;
    background-color:rgb(255, 255, 255);
    justify-content: space-around;
}


.navegacao{
    display: flex;
    justify-content: space-around;
    
    
}
.navegacao li{
    display: inline-block;
    padding: 40px;
    padding-bottom:10px;
    padding-top: 10px;
    background-color: black;
    
    
}
.nav-link{
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 30px;
}
.preço{
    font-size: 50px;
    color:rgb(255, 145, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: ;
}
.principal{
    background-image: url(imagem/Barber.jpg);
    background-size: cover;
    background-position: center;
    height:600px;
    display: flex;
    justify-content: right;
    
}
.informaçoes{
    background-image: url(imagem/R.jpg);
    background-size: cover;
    background-position: center;
    background-color: black;
    color: rgb(0, 0, 0);
    height: 600px;
    display: flex;
    justify-content: left;

}
.informaçoesblocos{
    background-color:rgba(255, 255, 255, 0.678) ;
    padding: 20px;
    margin: 20px;
    height: 500px;
    width: 400px;
    text-align: center;


}
.informaçoesblocosseparados{

    width: 400px;
    border: 3px solid black;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;


}
.serviços{
    color: azure;
    background-color:rgba(77, 77, 77, 0.671);
    height: 500px;
    width: 400px;
    padding: 20px;
    margin:20px;
    text-align: center;

}
#divblocos{
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    

}
.blocos{
    color: rgb(255, 255, 255);
    display: block;
    width: 150px;
    height: 150px;
    padding: 5px;
    margin: 5px;
    border: 3px solid white;
    background-color: rgba(2, 2, 2, 0.514);
}
.inspiraçoes{
    text-align: center;
}
.formulario{
    background-color: rgb(155, 155, 155);
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.icon{
    width: 50px;
    height: 50px;
}
#sobre{
    background-color: rgb(190, 190, 190);
    padding: 30px;
}
#sobre p {
    font-size: x-large;
}
.redes{
    background-color: rgb(141, 141, 141);
}
#logoinsta{
    width:200px;
}
#logowhatsapp{
    width:200px;
}
.redesblocos{
    display: flex;
    justify-content: space-around;
}
.blocoinstazap{
    text-align: center;
}